.list {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}



button {
    /* margin-right: 50px;
    margin-left: 50px; */
    width: 100px;
    height: 20px;
    border-radius: 15px;
    border: 1px solid #fff;
}

button:hover {
    border: none;
    background-color: greenyellow;
    cursor: pointer;
}

input {
    border: 1px solid #fff;
    border-radius: 10px;
    height: 20px;
    outline: none;
}

input:focus {
    border: 2px solid greenyellow;
    padding-left: 5px;
}


.title:hover {
    cursor: pointer;
}

.title__div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.title{
    margin-right: 10px;
}

.done{
    color: greenyellow;
}

.inprogress{
    color: orangered;
}

